////////// These are the 2 available colors for the banner ///////
$blue:#B9E5FB;
$yellow:#FEC02D;

////////// change this variable depending on the above color you want ($blue or $yellow)///////
$background-banner-color:$blue;

///////// put your other vars here ///////////////
